.MMM-MyCalendar .symbol {
  padding-left: 0;
  padding-right: 10px;
  font-size: 80%;
}

.MMM-MyCalendar .symbol span {
  display: inline-block;
  -ms-transform: translate(0, 2px); /* IE 9 */
  -webkit-transform: translate(0, 2px); /* Safari */
  transform: translate(0, 2px);
}

.MMM-MyCalendar .title {
  padding-left: 0;
  padding-right: 0;
}

.MMM-MyCalendar .time {
  padding-left: 30px;
  text-align: right;
}

.MMM-MyCalendar table.small {
  width: 300px;
  table-layout: fixed;
}

.MMM-MyCalendar .calendar-event {
  position: relative;
}

.MMM-MyCalendar .title {
  color: #FFF;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  line-height: 1.25;
  margin-top: 4px;
}
.MMM-MyCalendar .time {
  color: #AAA;
  white-space: nowrap;
  display: block;  
  font-size: 17px;
  line-height: 1.5;
  text-align: left;
  padding-left: 0;
  margin-bottom: 2px;
  font-weight: 400;
}

.MMM-MyCalendar .calendar-event.with-symbol .title,
.MMM-MyCalendar .calendar-event.with-symbol .time {  
  margin-left: 30px;
}


.MMM-MyCalendar .symbol {
  font-size: 14px;
  display: block;
  position: absolute;
  top: 2px;
  font-weight: bold;
  text-align: center;
  width: 24px;
  height: 24px;
  padding-top: 6px;
}

.MMM-MyCalendar .symbol span {
  display: block;
  font-size: 24px;
  position: absolute;
  top: 1px;
  left: 0px;
  font-weight: normal;
}

.MMM-MyCalendar .symbol .calendar-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 3px;
  left: 0px;
  fill: currentColor;
}